################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Borgeby/bower_components
/Borgeby/node_modules
