/// <reference path="../_references.scss" />

// ------------------------------------------------------------------------- //
// #HEADINGS
//
// Sizes are defined in _settings.headings.scss
// ------------------------------------------------------------------------- //



h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    color: $color-base-text;
}


h1 {
    @include font-size($heading-size-1);
    font-family: $clarendon-urw-regular;
}


h2 {
    @include font-size($heading-size-2);
    font-family: $clarendon-urw-regular;
}


h3 {
    @include font-size($heading-size-3);
    font-family: $akzidenz-grotesk-bq-regular;
}


h4 {
    @include font-size($heading-size-4);
    font-family: $akzidenz-grotesk-bq-regular;
}


h5 {
    @include font-size($heading-size-5);
    font-family: $akzidenz-grotesk-bq-regular;
}


h6 {
    @include font-size($heading-size-6);
    font-family: $akzidenz-grotesk-bq-regular;
}
