/// <reference path="../_references.scss" />

// ------------------------------------------------------------------------- //
// #HEADINGS
//
// Heading variables that are used in _base.headings.scss
// Add more breakpoint specific sizes if the design requires it, or remove
// the existing ones if the size should be the same on all devices.
// ------------------------------------------------------------------------- //



// Heading size 1 (in pixels)
$heading-size-1:            26px;
$heading-size-1-tablet:     36px;


// Heading size 2 (in pixels)
$heading-size-2:            20px;
$heading-size-2-tablet:     22px;


// Heading size 3 (in pixels)
$heading-size-3:            18px;
$heading-size-3-tablet:     20px;


// Heading size 4 (in pixels)
$heading-size-4:            18px;
$heading-size-4-tablet:     18px;


// Heading size 5 (in pixels)
$heading-size-5:            16px;
$heading-size-5-tablet:     16px;


// Heading size 6 (in pixels)
$heading-size-6:            14px;
$heading-size-6-tablet:     14px;
