/// <reference path="../_references.scss" />

// ------------------------------------------------------------------------- //
// #MAIN-NAVIGATION
// ------------------------------------------------------------------------- //



/**
 * Main navigation component
 */
.main-nav {
    color: $color-site-navigation;
}



.main-nav__logo {
    height: em(30px);
}



.main-nav__list {
    @extend %list-inline;
    float: right;
}



.main-nav__item:not(:first-child) {
    margin-left: $base-spacing-unit;
}



.main-nav__link {
    text-decoration: none;
}



.main-nav__external-link-icon {
    @include font-size(14px);
}
