/// <reference path="../_references.scss" />

// ------------------------------------------------------------------------- //
// #EPISERVER-FORMS
//
// EPiServer does not offer a simple way to override markup and css in their
// Forms module. Therefore, we must use their predefined incorrect BEM syntax
// (grandchild elements) and // lots of !important. This should be refactored
// in the future if EPiServer makes it easier to override their markup and css.
// ------------------------------------------------------------------------- //



// Settings
$forms-label-width:     em(120px);



/**
 * EPiServer forms component
 */
.EPiServerForms {
    padding: $base-spacing-unit;
    margin-top: $base-spacing-unit--large;
    background-color: $color-gray-alto;
    border-bottom: em(2px) solid $color-gray-alto;

    @include media-query("tablet") {
        padding-left: $base-spacing-unit--large;
        padding-right: $base-spacing-unit--large;
    }
}



/**
 * EPiServer form title
 */
.Form__Title {
    text-align: center;

    &::after {
        display: block;
        width: 50%;
        height: em(3px);
        margin: $base-spacing-unit auto;
        background-color: $color-red-monza;
        border-bottom: 1px solid $color-gray-alto;
        content: "";
    }
}



/**
 * EPiServer form warning message
 */
.Form__Warning__Message {
    color: inherit !important;
    background-color: $color-red-monza !important;
}



/**
 * EPiServer form container
 */
.FormStep {
    margin-bottom: 0 !important;
    text-align: center !important;
}



/**
 * EPiServer form group
 */
.Form__Element {
    width: 100%;
    margin-bottom: $base-spacing-unit !important;
    text-align: left;

    @include media-query("tablet") {
        display: table;
    }
}



/**
 * EPiServer form label
 */
.Form__Element__Caption {
    @include media-query("tablet") {
        display: table-cell !important;
        width: $forms-label-width !important;
        max-width: $forms-label-width;
        padding-right: $base-spacing-unit;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/**
 * EPiServer form label for checkbox and radio
 */
.FormChoice label {
    display: block;
}



/**
 * EPiServer form input
 */
.FormTextbox__Input {
    @include media-query("tablet") {
        display: table-cell !important;
    }
}



/**
 * EPiServer form select option
 */
.FormSelection option {
    font-weight: inherit;
}



/**
 * EPiServer form button
 */
.FormSubmitButton,
.FormResetButton {
    @extend %btn;
    margin-top: $base-spacing-unit !important;
    text-align: center;

    @include media-query("tablet") {
        display: inline-block;
        width: auto;
    }

    &:disabled {
        @include pseudo-classes(true) {
            text-decoration: none;
            background-color: $color-red-monza;
            cursor: not-allowed;
        }
    }
}



/**
 * EPiServer form validation error
 */
.Form__Element__ValidationError {
    color: $color-red-monza !important;
    vertical-align: top;
}



/**
 * EPiServer form hide
 */
.EPiServerForms .hide {
    display: none !important;
}
