/// <reference path="../_references.scss" />

// ------------------------------------------------------------------------- //
// #NAVIGATION
// ------------------------------------------------------------------------- //



/**
 * Navigation component
 */
.nav {
    @extend %clearfix;
    position: relative;
}

.nav--primary {
    margin-bottom: $base-spacing-unit--large;
    background-color: $color-nav-primary-background;

    &.affix {
        margin-bottom: $base-spacing-unit--huge;
    }
}

.nav--secondary {
    margin-bottom: $base-spacing-unit--large;

    &.affix {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        .nav--secondary-inner {
            box-shadow: 0 0 1px $color-gray-silver;
        }
    }
}

.nav--secondary-inner {
    overflow: hidden;
    background-color: $color-nav-secondary-background;
}

.nav--start-inner {
    overflow: hidden;
}



.nav__list {
    @extend %list-inline;
    @extend %clearfix;
    font-size: 0;
}

.nav__list--primary {
    float: left;
}

.nav__list--secondary {
    float: right;
}



.nav__image--primary {
    height: 40px;

    @include media-query("laptop") {
        height: 55px;
    }

    @include media-query("desktop") {
        height: 65px;
    }
}

.nav__image--secondary {
    height: 40px;

    @include media-query("laptop") {
        height: 50px;
    }

    @include media-query("desktop") {
        height: 60px;
    }
}



.nav__service-selector {
    @include z-index("navigation");
    position: absolute;
    top: 55px;
    left: 0;
    display: none;
    padding: 14px;
    background-color: $color-beige-spring-wood;
    box-shadow: 0 3px 3px $color-gray-silver;
}


.nav__image--service-selector {
    display: none;

    &.is-active {
        display: inline-block;
    }
}
