/// <reference path="../_references.scss" />

// ------------------------------------------------------------------------- //
// #WRAPPERS
// ------------------------------------------------------------------------- //



/**
 * Wrapper object
 */
.wrapper {
    width: $wrapper-width-mobile;
    padding-right: $base-spacing-unit;
    padding-left: $base-spacing-unit;
    margin-left: auto;
    margin-right: auto;

    @include media-query("tablet") {
        width: $wrapper-width-tablet;
    }

    @include media-query("laptop") {
        width: $wrapper-width-laptop;
    }

    @include media-query("desktop") {
        width: $wrapper-width-desktop;
    }
}
